.melanz{
    font:100px;
    color:dimgrey;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin:0 auto;
    padding: 40px;
    width:500px;
    margin-bottom:50px;
    
}

nav a{
    text-decoration:none;
    color:slategrey;
    font:20px darkgrey;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    float:left;
    width:20%;
    margin-left: 210px;
    font-size: 25px;
    margin-bottom:10px;
}
.block{
    float:left;
    display:inline;

}
div img{
    width: 400px;
    height: 400px;
    margin:50px;
    padding:50px;
    margin-top:10px;
    
}
.textone{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:15px;
    margin:20px;
    position:absolute;
    top:700px;
    padding-left:250px;
    padding-right:250px;
    margin-left:250px;
    margin-right:250px;
    color:darkslategrey;
    word-spacing:0.5em;

}

/* Mediaqueries*/



@media screen and (min-width:1024px){
   body{ 
       background: aquamarine;
       color: red
    
   } 
}
